<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the metadata -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <!-- set the title -->
    <title>Data Science Portal</title>

    <!-- link to reset css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- link to bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    
    <!-- link to style css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- import js libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <!-- header -->
    <nav class="navbar bg-dark px-3 py-2">
        <div class="container-fullwidth">
            <a class="navbar-brand text-light" href="/">Home</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Bulk Data</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Entry</a></li>
                    <li><a class="dropdown-item" href="/data_viewer">Viewer</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Analysis & Visualization</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Exploratory Analysis</a></li>
                    <li><a class="dropdown-item" href="#">Generic Plotting</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Deep Learning</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Supervised</a></li>
                    <li><a class="dropdown-item" href="#">Unsupervised</a></li>
                    <li><a class="dropdown-item" href="#">Neural Networks</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- body -->
    <div class="container my-2">
        
    </div>

    <!-- import bootstrap js library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    
    <!-- import local js scripts -->
    <script src="/static/js/logic.js"></script>
</body>

</html>